{
  "openapi": "3.0.3",
  "info": {
    "title": "Smart Coworking Space Reservation System API",
    "version": "1.0.0",
    "description": "Spesifikasi OpenAPI 3.0 untuk API Backend Uji Kompetensi Keahlian (UKK) RPL 2026/2027 SMK Telkom Malang — Paket B: Sistem Reservasi Coworking Space & Workstation (Smart Space Booking).\n\n### Panduan Pengujian API (API Testing Guide):\n1. **Mekanisme Multi-Tenancy (Maker Key)**: Daftarkan akun pembuat aplikasi di `POST /api/maker/register` atau login di `POST /api/maker/login` untuk mendapatkan `app_key` unik (contoh: `mk_xxxxxxxxxxxx`).\n2. **Authorize MakerKey**: Masukkan nilai `app_key` Anda ke tombol **Authorize** -> **MakerKey** (`x-maker-key`). Header ini wajib dikirim pada seluruh request data agar data Anda terisolasi aman dari peserta lain.\n3. **Autentikasi Pengguna (JWT)**: Login menggunakan akun Member atau Admin Space di `POST /api/auth/login`. Salin nilai `data.access_token` dari response JSON.\n4. **Authorize BearerAuth**: Masukkan access token ke **Authorize** -> **BearerAuth** (`Bearer <token>`).\n5. **Role Pengguna**:\n   - `member`: Hak akses pemesanan space, histori booking, cetak e-ticket, dan pembatalan.\n   - `admin_space`: Hak akses penuh pengelolaan coworking space (profil space, CRUD member, CRUD space, CRUD promo diskon, check-in/check-out, laporan pendapatan).\n\n*Peringatan Keamanan*: API ini langsung memutasi database backend SMK Telkom Malang. Gunakan ID dan parameter valid saat melakukan testing.",
    "contact": {
      "name": "Tim Penguji UKK RPL SMK Telkom Malang",
      "url": "https://learn.smktelkom-mlg.sch.id/coworking"
    }
  },
  "servers": [
    {
      "url": "https://learn.smktelkom-mlg.sch.id/coworking",
      "description": "Server Uji Kompetensi (Production / Live Testing)"
    },
    {
      "url": "http://localhost:3000",
      "description": "Server Pengujian Lokal"
    }
  ],
  "security": [
    {
      "MakerKey": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Status dan health check server"
    },
    {
      "name": "App Maker",
      "description": "Manajemen akun siswa pengembang (Multi-tenancy isolation)"
    },
    {
      "name": "Authentication",
      "description": "Registrasi, login, dan profil pengguna (Member & Admin Space)"
    },
    {
      "name": "Spaces (Public)",
      "description": "Katalog ruangan/meja coworking dan pengecekan ketersediaan jadwal"
    },
    {
      "name": "Diskon (Public)",
      "description": "Katalog promo diskon aktif dan validasi kode promo"
    },
    {
      "name": "Reservasi (Member)",
      "description": "Pemesanan ruang kerja, histori transaksi, cetak e-ticket, dan pembatalan"
    },
    {
      "name": "Admin - Profile",
      "description": "Pengelolaan profil lokasi coworking space"
    },
    {
      "name": "Admin - Members",
      "description": "CRUD data member / pelanggan coworking space"
    },
    {
      "name": "Admin - Spaces",
      "description": "CRUD data ruangan, meja, kapasitas, fasilitas, dan tarif sewa"
    },
    {
      "name": "Admin - Diskon",
      "description": "CRUD kode promo / diskon event"
    },
    {
      "name": "Admin - Reservasi",
      "description": "Manajemen pemesanan, konfirmasi status, check-in, dan check-out tamu"
    },
    {
      "name": "Admin - Reports",
      "description": "Rekapitulasi dan estimasi pendapatan bulanan serta distribusi per tipe space"
    },
    {
      "name": "Media Upload",
      "description": "Upload berkas gambar multipart form-data (foto profil, foto space, media umum)"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Status API & Petunjuk Penggunaan",
        "description": "Menampilkan status server backend dan petunjuk dasar penggunaan API.",
        "operationId": "getSystemStatus",
        "security": [],
        "responses": {
          "200": {
            "description": "Server online dan berjalan normal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "name": "Coworking Space Backend API - UKK RPL Paket B",
                    "version": "1.0.0",
                    "status": "online",
                    "swagger_docs": "/docs",
                    "description": "Backend service untuk menunjang kelas frontend dalam ujian UKK dengan multi-tenancy App Maker.",
                    "documentation_links": {
                      "swagger": "https://learn.smktelkom-mlg.sch.id/coworking/docs",
                      "swagger_json": "https://learn.smktelkom-mlg.sch.id/coworking/docs-json"
                    }
                  },
                  "timestamp": "2026-08-27T08:34:46.977Z"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health Check Server",
        "description": "Pemeriksaan kesehatan sistem database dan backend.",
        "operationId": "getHealthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "Sistem dalam kondisi sehat (Healthy)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "status": "ok",
                    "timestamp": "2026-08-27T08:34:46.981Z"
                  },
                  "timestamp": "2026-08-27T08:34:46.981Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/maker/register": {
      "post": {
        "tags": [
          "App Maker"
        ],
        "summary": "Registrasi Akun Siswa (App Maker) & Generate App Key",
        "description": "Pendaftaran akun siswa pengembang Frontend (App Maker) untuk memperoleh `app_key` multi-tenancy unik.",
        "operationId": "registerMaker",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterMakerDto"
              },
              "example": {
                "name": "Budi Santoso",
                "username": "budisantoso",
                "email": "budi@smk.sch.id",
                "password": "Password123!"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registrasi berhasil, app_key diterbitkan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 201,
                  "message": "Registrasi App Maker berhasil! Simpan app_key Anda dengan baik.",
                  "data": {
                    "id": 5,
                    "name": "Budi Santoso",
                    "username": "budisantoso",
                    "email": "budi@smk.sch.id",
                    "app_key": "mk_4ffb8c4b40a6499ea7767bfafb32f6e0",
                    "created_at": "2026-08-27T02:58:34.092Z",
                    "updated_at": "2026-08-27T02:58:34.092Z",
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  "timestamp": "2026-08-27T02:58:34.095Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        }
      }
    },
    "/api/maker/login": {
      "post": {
        "tags": [
          "App Maker"
        ],
        "summary": "Login Akun Siswa Pengembang Frontend",
        "description": "Autentikasi akun App Maker untuk mendapatkan kembali `app_key` dan token maker.",
        "operationId": "loginMaker",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginMakerDto"
              },
              "example": {
                "usernameOrEmail": "budisantoso",
                "password": "Password123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login berhasil, info maker dan app_key dikembalikan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Login App Maker berhasil!",
                  "data": {
                    "id": 5,
                    "name": "Budi Santoso",
                    "username": "budisantoso",
                    "email": "budi@smk.sch.id",
                    "app_key": "mk_4ffb8c4b40a6499ea7767bfafb32f6e0",
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  "timestamp": "2026-08-27T08:34:54.036Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/maker/me": {
      "get": {
        "tags": [
          "App Maker"
        ],
        "summary": "Lihat Profil & App Key Siswa Saat Ini",
        "description": "Menampilkan data profil dan app_key dari siswa yang sedang terautentikasi.",
        "operationId": "getMakerProfile",
        "security": [
          {
            "MakerBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profil maker berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 5,
                    "name": "Budi Santoso",
                    "username": "budisantoso",
                    "email": "budi@smk.sch.id",
                    "app_key": "mk_4ffb8c4b40a6499ea7767bfafb32f6e0",
                    "created_at": "2026-08-27T02:58:34.092Z"
                  },
                  "timestamp": "2026-08-27T08:35:00.120Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/maker/stats": {
      "get": {
        "tags": [
          "App Maker"
        ],
        "summary": "Statistik Keseluruhan Data Siswa (App Maker)",
        "description": "Menampilkan ringkasan jumlah data (members, spaces, diskon, reservasi, total pendapatan) pada instance siswa.",
        "operationId": "getMakerStats",
        "security": [
          {
            "MakerKey": []
          },
          {
            "MakerBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Statistik berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "total_members": 5,
                    "total_spaces": 4,
                    "total_diskon": 3,
                    "total_reservasi": 12,
                    "total_pendapatan": 1450000
                  },
                  "timestamp": "2026-08-27T08:35:10.450Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/maker/list": {
      "get": {
        "tags": [
          "App Maker"
        ],
        "summary": "Daftar Semua Siswa / App Maker Terdaftar (Panel Guru/Penguji)",
        "description": "Endpoint publik bagi panitia/penguji untuk melihat seluruh siswa terdaftar beserta app_key masing-masing.",
        "operationId": "listAllMakers",
        "security": [],
        "responses": {
          "200": {
            "description": "Daftar maker berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 1,
                      "name": "Admin Default UKK",
                      "username": "admin_default",
                      "email": "admin@ukk.sch.id",
                      "app_key": "mk_fb696f19a77243f88b87592080b7bb6d",
                      "created_at": "2026-08-27T00:00:00.000Z"
                    },
                    {
                      "id": 5,
                      "name": "Budi Santoso",
                      "username": "budisantoso",
                      "email": "budi@smk.sch.id",
                      "app_key": "mk_4ffb8c4b40a6499ea7767bfafb32f6e0",
                      "created_at": "2026-08-27T02:58:34.092Z"
                    }
                  ],
                  "timestamp": "2026-08-27T08:35:15.890Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/register/member": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Registrasi Akun Member / Pelanggan Baru",
        "description": "Mendaftarkan akun member baru pada coworking space.",
        "operationId": "registerMember",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterMemberDto"
              },
              "example": {
                "username": "johndoe",
                "password": "Secret123!",
                "nama_member": "John Doe",
                "instansi": "Universitas Indonesia / PT Maju Mundur",
                "alamat": "Jl. Sudirman No. 123, Jakarta Selatan",
                "telp": "081234567890",
                "foto": "member_john.jpg"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registrasi member berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 201,
                  "message": "Registrasi member berhasil!",
                  "data": {
                    "id": 7,
                    "username": "johndoe",
                    "role": "member",
                    "member": {
                      "id": 6,
                      "nama_member": "John Doe",
                      "instansi": "Universitas Indonesia / PT Maju Mundur",
                      "alamat": "Jl. Sudirman No. 123, Jakarta Selatan",
                      "telp": "081234567890",
                      "foto": "member_john.jpg"
                    },
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  "timestamp": "2026-08-27T02:59:53.090Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        }
      }
    },
    "/api/auth/register/admin-space": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Registrasi Pengelola Lokasi / Admin Coworking Space",
        "description": "Mendaftarkan akun admin lokasi sekaligus inisialisasi entitas profil coworking space.",
        "operationId": "registerAdminSpace",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAdminDto"
              },
              "example": {
                "username": "admin_space1",
                "password": "Admin123!",
                "nama_coworking": "Moklet Hub Coworking",
                "nama_pemilik": "Ahmad Bidin",
                "telp": "081298765432"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registrasi admin lokasi berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 201,
                  "message": "Registrasi Admin Space berhasil!",
                  "data": {
                    "id": 8,
                    "username": "admin_space1",
                    "role": "admin_space",
                    "space_owner": {
                      "id": 2,
                      "nama_coworking": "Moklet Hub Coworking",
                      "nama_pemilik": "Ahmad Bidin",
                      "telp": "081298765432"
                    },
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  "timestamp": "2026-08-27T03:00:10.150Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login Akun Pengguna (Member atau Admin Space)",
        "description": "Login universal untuk pengguna aplikasi (Member atau Admin Space) untuk memperoleh JWT Bearer token.",
        "operationId": "loginUser",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginUserDto"
              },
              "example": {
                "username": "johndoe",
                "password": "Secret123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Login berhasil!",
                  "data": {
                    "id": 7,
                    "username": "johndoe",
                    "role": "member",
                    "maker_id": 5,
                    "member": {
                      "id": 6,
                      "nama_member": "John Doe",
                      "instansi": "Universitas Indonesia / PT Maju Mundur",
                      "alamat": "Jl. Sudirman No. 123, Jakarta Selatan",
                      "telp": "081234567890",
                      "foto": "1787799592972-544446318.jpeg"
                    },
                    "space_owner": null,
                    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  "timestamp": "2026-08-27T08:34:54.264Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/auth/profile": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Lihat Profil Pengguna yang Sedang Login",
        "description": "Mengambil data profil lengkap pengguna yang sedang aktif dari token JWT.",
        "operationId": "getUserProfile",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profil berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 7,
                    "username": "johndoe",
                    "role": "member",
                    "member": {
                      "id": 6,
                      "nama_member": "John Doe",
                      "instansi": "Universitas Indonesia / PT Maju Mundur",
                      "alamat": "Jl. Sudirman No. 123, Jakarta Selatan",
                      "telp": "081234567890",
                      "foto": "1787799592972-544446318.jpeg"
                    },
                    "space_owner": null
                  },
                  "timestamp": "2026-08-27T08:35:20.100Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/spaces/types": {
      "get": {
        "tags": [
          "Spaces (Public)"
        ],
        "summary": "Daftar Tipe Space (Personal Desk, Meeting Room, Private Office)",
        "description": "Menampilkan referensi 3 jenis tipe space yang didukung: Personal Desk, Meeting Room, Private Office.",
        "operationId": "getSpaceTypes",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar tipe space berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "tipe": "desk",
                      "label": "Personal Desk",
                      "deskripsi": "Meja kerja individual yang nyaman dengan fasilitas colokan listrik, WiFi kencang, dan air minum."
                    },
                    {
                      "tipe": "meeting_room",
                      "label": "Meeting Room",
                      "deskripsi": "Ruang rapat tertutup dengan fasilitas proyektor/TV LED, whiteboard, sound system, dan AC dingin."
                    },
                    {
                      "tipe": "private_office",
                      "label": "Private Office",
                      "deskripsi": "Ruang kantor privat eksklusif untuk tim kecil hingga menengah dengan akses fleksibel dan keamanan 24 jam."
                    }
                  ],
                  "timestamp": "2026-08-27T08:34:46.984Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/spaces/availability": {
      "get": {
        "tags": [
          "Spaces (Public)"
        ],
        "summary": "Cek Ketersediaan Space Berdasarkan Tanggal & Jam",
        "description": "Memeriksa apakah ruangan/meja tertentu tersedia atau bentrok pada tanggal dan jam yang diminta.",
        "operationId": "checkSpaceAvailability",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "parameters": [
          {
            "name": "id_space",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "ID Space yang akan dicek"
          },
          {
            "name": "tanggal",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-30",
            "description": "Tanggal pemesanan (YYYY-MM-DD)"
          },
          {
            "name": "jam_mulai",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "09:00",
            "description": "Jam mulai (HH:mm)"
          },
          {
            "name": "durasi_jam",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 3,
            "description": "Durasi sewa dalam jam"
          }
        ],
        "responses": {
          "200": {
            "description": "Space tersedia untuk dipesan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Space tersedia untuk dipesan pada jadwal yang diminta",
                  "data": {
                    "available": true,
                    "id_space": 1,
                    "nama_space": "Personal Desk - Flexi 01",
                    "tanggal": "2026-08-30",
                    "jam_mulai": "09:00",
                    "jam_selesai": "12:00",
                    "durasi_jam": 3,
                    "harga_per_jam": 20000,
                    "estimasi_total": 60000
                  },
                  "timestamp": "2026-08-27T08:35:30.120Z"
                }
              }
            }
          },
          "400": {
            "description": "Space bentrok / sudah terisi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseErrorResponse"
                },
                "example": {
                  "status": false,
                  "statusCode": 400,
                  "message": "Maaf, space sudah terisi atau dibooking pada jam tersebut!",
                  "error": "Bad Request",
                  "timestamp": "2026-08-27T08:35:30.125Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/spaces": {
      "get": {
        "tags": [
          "Spaces (Public)"
        ],
        "summary": "Lihat Semua Space Coworking (Katalog Meja/Ruangan)",
        "description": "Menampilkan seluruh katalog ruangan dan meja coworking yang tersedia dengan filter tipe dan pencarian nama.",
        "operationId": "getPublicSpaces",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "parameters": [
          {
            "name": "tipe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desk",
                "meeting_room",
                "private_office"
              ]
            },
            "example": "desk",
            "description": "Filter tipe space"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Alpha",
            "description": "Pencarian nama ruangan atau fasilitas"
          }
        ],
        "responses": {
          "200": {
            "description": "Katalog space berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 1,
                      "nama_space": "Personal Desk - Flexi 01",
                      "harga_per_jam": 20000,
                      "tipe": "desk",
                      "kapasitas": 1,
                      "foto": "desk_flexi_01.jpg",
                      "deskripsi": "Meja kerja individual yang tenang dan nyaman dengan colokan listrik, WiFi kencang 100Mbps.",
                      "id_owner": 1,
                      "owner": {
                        "nama_coworking": "Moklet Hub Coworking Space",
                        "nama_pemilik": "Ahmad Bidin, S.Kom",
                        "telp": "081298765432"
                      },
                      "foto_url": "http://localhost:3000/uploads/spaces/desk_flexi_01.jpg"
                    }
                  ],
                  "timestamp": "2026-08-27T08:34:47.035Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/spaces/{id}": {
      "get": {
        "tags": [
          "Spaces (Public)"
        ],
        "summary": "Lihat Detail Space Coworking Berdasarkan ID",
        "description": "Menampilkan informasi detail ruangan/meja tertentu beserta data pemilik coworking.",
        "operationId": "getPublicSpaceDetail",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 3,
            "description": "ID unik space"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail space berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 3,
                    "nama_space": "Meeting Room Alpha",
                    "harga_per_jam": 100000,
                    "tipe": "meeting_room",
                    "kapasitas": 8,
                    "foto": "meeting_room_alpha.jpg",
                    "deskripsi": "Ruang rapat kedap suara 8 orang dengan Smart TV 55 inch dan soundbar Bluetooth.",
                    "id_owner": 1,
                    "owner": {
                      "id": 1,
                      "nama_coworking": "Moklet Hub Coworking Space",
                      "nama_pemilik": "Ahmad Bidin, S.Kom",
                      "telp": "081298765432"
                    },
                    "foto_url": "http://localhost:3000/uploads/spaces/meeting_room_alpha.jpg"
                  },
                  "timestamp": "2026-08-27T08:35:40.500Z"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/diskon/active": {
      "get": {
        "tags": [
          "Diskon (Public)"
        ],
        "summary": "Daftar Promo / Diskon yang Sedang Aktif",
        "description": "Menampilkan seluruh kode voucher promo yang saat ini masih berlaku.",
        "operationId": "getActiveDiskon",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar promo aktif berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 1,
                      "nama_diskon": "DISKONHEMAT20",
                      "persentase_diskon": 20,
                      "tanggal_awal": "2026-01-01T00:00:00.000Z",
                      "tanggal_akhir": "2026-12-31T23:59:59.000Z"
                    },
                    {
                      "id": 2,
                      "nama_diskon": "UKKPROMO50",
                      "persentase_diskon": 50,
                      "tanggal_awal": "2026-08-01T00:00:00.000Z",
                      "tanggal_akhir": "2026-09-30T23:59:59.000Z"
                    }
                  ],
                  "timestamp": "2026-08-27T08:34:47.061Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/diskon/check": {
      "post": {
        "tags": [
          "Diskon (Public)"
        ],
        "summary": "Periksa Validitas & Hitung Potongan Kode Promo",
        "description": "Memvalidasi apakah kode promo valid, aktif, dan dalam rentang tanggal berlaku.",
        "operationId": "checkDiskonPromo",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckDiskonDto"
              },
              "example": {
                "nama_diskon": "DISKONHEMAT20"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kode promo valid dan aktif",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Kode promo valid dan masih berlaku!",
                  "data": {
                    "id": 1,
                    "nama_diskon": "DISKONHEMAT20",
                    "persentase_diskon": 20,
                    "tanggal_awal": "2026-01-01T00:00:00.000Z",
                    "tanggal_akhir": "2026-12-31T23:59:59.000Z",
                    "is_active": true
                  },
                  "timestamp": "2026-08-27T08:35:50.210Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        }
      }
    },
    "/api/diskon/{id}": {
      "get": {
        "tags": [
          "Diskon (Public)"
        ],
        "summary": "Lihat Detail Diskon Berdasarkan ID",
        "description": "Menampilkan rincian informasi satu kode promo berdasarkan ID.",
        "operationId": "getDiskonDetailPublic",
        "security": [
          {
            "MakerKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "ID unik diskon"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail promo berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 1,
                    "nama_diskon": "DISKONHEMAT20",
                    "persentase_diskon": 20,
                    "tanggal_awal": "2026-01-01T00:00:00.000Z",
                    "tanggal_akhir": "2026-12-31T23:59:59.000Z"
                  },
                  "timestamp": "2026-08-27T08:35:55.700Z"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/reservasi": {
      "post": {
        "tags": [
          "Reservasi (Member)"
        ],
        "summary": "Buat Pemesanan Space Baru (Member)",
        "description": "Membuat reservasi booking baru untuk ruangan atau workstation oleh pelanggan.",
        "operationId": "createReservation",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReservasiDto"
              },
              "example": {
                "id_space": 1,
                "tanggal_reservasi": "2026-08-30",
                "jam_mulai": "09:00",
                "durasi_jam": 3,
                "id_diskon": 1,
                "kode_promo": "DISKONHEMAT20"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reservasi berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 201,
                  "message": "Reservasi berhasil dibuat! Silakan tunggu konfirmasi admin.",
                  "data": {
                    "id": 12,
                    "kode_booking": "BOOK-20260830-0012",
                    "id_member": 6,
                    "id_space": 1,
                    "id_diskon": 1,
                    "tanggal_reservasi": "2026-08-30",
                    "jam_mulai": "09:00",
                    "jam_selesai": "12:00",
                    "durasi_jam": 3,
                    "harga_per_jam": 20000,
                    "total_harga_awal": 60000,
                    "potongan_diskon": 12000,
                    "total_bayar": 48000,
                    "status": "belum_dikonfirm",
                    "created_at": "2026-08-27T08:36:00.000Z"
                  },
                  "timestamp": "2026-08-27T08:36:00.050Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/reservasi/my": {
      "get": {
        "tags": [
          "Reservasi (Member)"
        ],
        "summary": "Lihat Status Semua Pemesanan Saya (Member)",
        "description": "Mengambil seluruh transaksi pemesanan milik member yang sedang login.",
        "operationId": "getMyReservations",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar pemesanan saya berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 12,
                      "kode_booking": "BOOK-20260830-0012",
                      "tanggal_reservasi": "2026-08-30",
                      "jam_mulai": "09:00",
                      "jam_selesai": "12:00",
                      "durasi_jam": 3,
                      "total_bayar": 48000,
                      "status": "disetujui",
                      "space": {
                        "id": 1,
                        "nama_space": "Personal Desk - Flexi 01",
                        "tipe": "desk"
                      }
                    }
                  ],
                  "timestamp": "2026-08-27T08:36:10.120Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/reservasi/my/history": {
      "get": {
        "tags": [
          "Reservasi (Member)"
        ],
        "summary": "Lihat Histori Pemesanan Berdasarkan Bulan & Tahun (Member)",
        "description": "Menampilkan rekap histori dan total pengeluaran reservasi member pada bulan/tahun tertentu.",
        "operationId": "getMyReservationHistory",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "example": 8,
            "description": "Filter bulan (1-12)"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 2026,
            "description": "Filter tahun"
          }
        ],
        "responses": {
          "200": {
            "description": "Histori pemesanan berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "month": 8,
                    "year": 2026,
                    "total_reservasi": 3,
                    "total_pengeluaran": 150000,
                    "items": [
                      {
                        "id": 12,
                        "kode_booking": "BOOK-20260830-0012",
                        "tanggal_reservasi": "2026-08-30",
                        "jam_mulai": "09:00",
                        "jam_selesai": "12:00",
                        "durasi_jam": 3,
                        "total_bayar": 48000,
                        "status": "selesai",
                        "space_name": "Personal Desk - Flexi 01"
                      }
                    ]
                  },
                  "timestamp": "2026-08-27T08:36:20.300Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/api/reservasi/{id}/e-ticket": {
      "get": {
        "tags": [
          "Reservasi (Member)"
        ],
        "summary": "Cetak E-Ticket / Bukti Nota Digital Reservasi",
        "description": "Mengambil payload lengkap e-ticket digital beserta data QR Code untuk validasi check-in di resepsionis.",
        "operationId": "getETicket",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12,
            "description": "ID unik reservasi"
          }
        ],
        "responses": {
          "200": {
            "description": "E-Ticket berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "E-Ticket berhasil dimuat",
                  "data": {
                    "e_ticket_number": "TICKET-MOKLET-20260830-0012",
                    "kode_booking": "BOOK-20260830-0012",
                    "coworking_space": {
                      "nama": "Moklet Hub Coworking Space",
                      "telepon": "081298765432"
                    },
                    "member": {
                      "nama": "John Doe",
                      "instansi": "Universitas Indonesia / PT Maju Mundur",
                      "telp": "081234567890"
                    },
                    "space": {
                      "nama": "Personal Desk - Flexi 01",
                      "tipe": "Personal Desk",
                      "harga_per_jam": 20000
                    },
                    "jadwal": {
                      "tanggal": "2026-08-30",
                      "jam_mulai": "09:00",
                      "jam_selesai": "12:00",
                      "durasi": "3 Jam"
                    },
                    "rincian_pembayaran": {
                      "tarif_kotor": 60000,
                      "diskon_promo": "20% (DISKONHEMAT20)",
                      "potongan": 12000,
                      "total_dibayar": 48000
                    },
                    "status_reservasi": "disetujui",
                    "qr_code_payload": "VERIFY-RESERVASI-12-mk_4ffb8c4b40a6499ea7767bfafb32f6e0"
                  },
                  "timestamp": "2026-08-27T08:36:30.450Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/reservasi/{id}": {
      "get": {
        "tags": [
          "Reservasi (Member)"
        ],
        "summary": "Lihat Detail Reservasi Berdasarkan ID",
        "description": "Menampilkan rincian satu transaksi pemesanan.",
        "operationId": "getReservationDetail",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12,
            "description": "ID unik reservasi"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail reservasi berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 12,
                    "kode_booking": "BOOK-20260830-0012",
                    "id_member": 6,
                    "id_space": 1,
                    "tanggal_reservasi": "2026-08-30",
                    "jam_mulai": "09:00",
                    "jam_selesai": "12:00",
                    "durasi_jam": 3,
                    "total_bayar": 48000,
                    "status": "disetujui",
                    "member": {
                      "id": 6,
                      "nama_member": "John Doe",
                      "telp": "081234567890"
                    },
                    "space": {
                      "id": 1,
                      "nama_space": "Personal Desk - Flexi 01",
                      "tipe": "desk"
                    }
                  },
                  "timestamp": "2026-08-27T08:36:35.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/reservasi/{id}/cancel": {
      "patch": {
        "tags": [
          "Reservasi (Member)"
        ],
        "summary": "Batalkan Pemesanan (Member)",
        "description": "Membatalkan pemesanan yang statusnya belum selesai (status berubah menjadi `dibatalkan`).",
        "operationId": "cancelReservation",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12,
            "description": "ID unik reservasi"
          }
        ],
        "responses": {
          "200": {
            "description": "Reservasi berhasil dibatalkan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Reservasi berhasil dibatalkan oleh pengguna",
                  "data": {
                    "id": 12,
                    "status": "dibatalkan",
                    "updated_at": "2026-08-27T08:36:40.000Z"
                  },
                  "timestamp": "2026-08-27T08:36:40.050Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/profile": {
      "get": {
        "tags": [
          "Admin - Profile"
        ],
        "summary": "Lihat Data Profil Lokasi Coworking Space",
        "description": "Menampilkan data identitas lokasi dan penanggung jawab coworking space milik admin yang sedang login.",
        "operationId": "getAdminSpaceProfile",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profil space admin berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 1,
                    "nama_coworking": "Moklet Hub Coworking Space",
                    "nama_pemilik": "Ahmad Bidin, S.Kom",
                    "telp": "081298765432"
                  },
                  "timestamp": "2026-08-27T08:36:50.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      },
      "put": {
        "tags": [
          "Admin - Profile"
        ],
        "summary": "Update Data Profil Lokasi Coworking Space",
        "description": "Memperbarui identitas lokasi, nama pemilik, dan nomor telepon operasional coworking space.",
        "operationId": "updateAdminSpaceProfile",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileAdminDto"
              },
              "example": {
                "nama_coworking": "Moklet Hub Coworking Space (Updated)",
                "nama_pemilik": "Ahmad Bidin, S.Kom",
                "telp": "081298765432"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profil berhasil diperbarui",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Profil Coworking Space berhasil diperbarui!",
                  "data": {
                    "id": 1,
                    "nama_coworking": "Moklet Hub Coworking Space (Updated)",
                    "nama_pemilik": "Ahmad Bidin, S.Kom",
                    "telp": "081298765432"
                  },
                  "timestamp": "2026-08-27T08:36:55.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/admin/members": {
      "get": {
        "tags": [
          "Admin - Members"
        ],
        "summary": "Daftar Semua Member / Pelanggan Coworking",
        "description": "Menampilkan seluruh member/pelanggan yang terdaftar pada sistem coworking space.",
        "operationId": "getAdminMembers",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Budi",
            "description": "Pencarian nama atau instansi member"
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar member berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 1,
                      "nama_member": "Budi Raharjo",
                      "instansi": "SMK Telkom Malang",
                      "alamat": "Jl. Danau Ranau No. 1, Sawojajar, Malang",
                      "telp": "085712345678",
                      "foto": "budi.jpg",
                      "created_at": "2026-08-27T00:00:00.000Z"
                    },
                    {
                      "id": 6,
                      "nama_member": "John Doe",
                      "instansi": "Universitas Indonesia / PT Maju Mundur",
                      "alamat": "Jl. Sudirman No. 123, Jakarta Selatan",
                      "telp": "081234567890",
                      "foto": "1787799592972-544446318.jpeg",
                      "created_at": "2026-08-27T02:59:53.089Z"
                    }
                  ],
                  "timestamp": "2026-08-27T08:37:05.120Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      },
      "post": {
        "tags": [
          "Admin - Members"
        ],
        "summary": "Tambah Data Member Baru oleh Admin",
        "description": "Admin menambahkan akun member baru secara manual dari panel pengelola.",
        "operationId": "createAdminMember",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberAdminDto"
              },
              "example": {
                "username": "user_budi",
                "password": "Secret123!",
                "nama_member": "Budi Raharjo",
                "instansi": "SMK Telkom Malang",
                "alamat": "Jl. Danau Ranau No. 1, Sawojajar, Malang",
                "telp": "085712345678",
                "foto": "budi.jpg"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member baru berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 201,
                  "message": "Data member baru berhasil ditambahkan!",
                  "data": {
                    "id": 7,
                    "nama_member": "Budi Raharjo",
                    "instansi": "SMK Telkom Malang",
                    "alamat": "Jl. Danau Ranau No. 1, Sawojajar, Malang",
                    "telp": "085712345678",
                    "foto": "budi.jpg"
                  },
                  "timestamp": "2026-08-27T08:37:10.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/admin/members/{id}": {
      "get": {
        "tags": [
          "Admin - Members"
        ],
        "summary": "Detail Data Member Berdasarkan ID",
        "description": "Mengambil rincian data satu member/pelanggan.",
        "operationId": "getAdminMemberDetail",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 6,
            "description": "ID unik member"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail member berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 6,
                    "nama_member": "John Doe",
                    "instansi": "Universitas Indonesia / PT Maju Mundur",
                    "alamat": "Jl. Sudirman No. 123, Jakarta Selatan",
                    "telp": "081234567890",
                    "foto": "1787799592972-544446318.jpeg"
                  },
                  "timestamp": "2026-08-27T08:37:15.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Admin - Members"
        ],
        "summary": "Update Data Member / Pelanggan (Admin)",
        "description": "Memperbarui profil, instansi, alamat, atau nomor telepon pelanggan oleh Admin.",
        "operationId": "updateAdminMember",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 6,
            "description": "ID unik member"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberAdminDto"
              },
              "example": {
                "nama_member": "John Doe, S.Kom",
                "instansi": "PT Inovasi Digital",
                "alamat": "Jl. Gatot Subroto No. 45, Jakarta",
                "telp": "081234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data member berhasil diperbarui",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Data member berhasil diperbarui!",
                  "data": {
                    "id": 6,
                    "nama_member": "John Doe, S.Kom",
                    "instansi": "PT Inovasi Digital",
                    "alamat": "Jl. Gatot Subroto No. 45, Jakarta",
                    "telp": "081234567890"
                  },
                  "timestamp": "2026-08-27T08:37:20.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin - Members"
        ],
        "summary": "Hapus Data Member / Pelanggan (Admin)",
        "description": "Menghapus akun member/pelanggan secara permanen dari database.",
        "operationId": "deleteAdminMember",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 6,
            "description": "ID unik member"
          }
        ],
        "responses": {
          "200": {
            "description": "Member berhasil dihapus",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Data member berhasil dihapus!",
                  "data": {
                    "id": 6,
                    "deleted": true
                  },
                  "timestamp": "2026-08-27T08:37:25.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/spaces": {
      "get": {
        "tags": [
          "Admin - Spaces"
        ],
        "summary": "Daftar Semua Ruangan & Meja Milik Admin",
        "description": "Menampilkan seluruh ruangan dan meja kerja milik coworking space admin.",
        "operationId": "getAdminSpaces",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar space berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 1,
                      "nama_space": "Personal Desk - Flexi 01",
                      "harga_per_jam": 20000,
                      "tipe": "desk",
                      "kapasitas": 1,
                      "foto": "desk_flexi_01.jpg",
                      "foto_url": "http://localhost:3000/uploads/spaces/desk_flexi_01.jpg"
                    },
                    {
                      "id": 3,
                      "nama_space": "Meeting Room Alpha",
                      "harga_per_jam": 100000,
                      "tipe": "meeting_room",
                      "kapasitas": 8,
                      "foto": "meeting_room_alpha.jpg",
                      "foto_url": "http://localhost:3000/uploads/spaces/meeting_room_alpha.jpg"
                    }
                  ],
                  "timestamp": "2026-08-27T08:37:35.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      },
      "post": {
        "tags": [
          "Admin - Spaces"
        ],
        "summary": "Tambah Ruangan / Meja Space Baru",
        "description": "Menambahkan ruangan atau meja kerja baru beserta fasilitas, kapasitas, harga, dan fotonya.",
        "operationId": "createAdminSpace",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpaceDto"
              },
              "example": {
                "nama_space": "Personal Desk Alpha 01",
                "harga_per_jam": 25000,
                "tipe": "desk",
                "kapasitas": 1,
                "deskripsi": "Dilengkapi colokan listrik, WiFi 100Mbps, monitor 24 inch, dan free flow kopi/teh.",
                "foto": "desk_alpha_01.jpg"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Space baru berhasil ditambahkan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 201,
                  "message": "Space baru berhasil ditambahkan!",
                  "data": {
                    "id": 5,
                    "nama_space": "Personal Desk Alpha 01",
                    "harga_per_jam": 25000,
                    "tipe": "desk",
                    "kapasitas": 1,
                    "deskripsi": "Dilengkapi colokan listrik, WiFi 100Mbps, monitor 24 inch, dan free flow kopi/teh.",
                    "foto": "desk_alpha_01.jpg",
                    "id_owner": 1
                  },
                  "timestamp": "2026-08-27T08:37:40.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/admin/spaces/{id}": {
      "get": {
        "tags": [
          "Admin - Spaces"
        ],
        "summary": "Detail Data Space Berdasarkan ID",
        "description": "Mengambil rincian data ruangan/meja untuk keperluan pengelolaan/edit.",
        "operationId": "getAdminSpaceDetail",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 5,
            "description": "ID unik space"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail space berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 5,
                    "nama_space": "Personal Desk Alpha 01",
                    "harga_per_jam": 25000,
                    "tipe": "desk",
                    "kapasitas": 1,
                    "deskripsi": "Dilengkapi colokan listrik, WiFi 100Mbps, monitor 24 inch, dan free flow kopi/teh.",
                    "foto": "desk_alpha_01.jpg"
                  },
                  "timestamp": "2026-08-27T08:37:45.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Admin - Spaces"
        ],
        "summary": "Update Data Ruangan / Meja (Space)",
        "description": "Memperbarui nama, tarif sewa, kapasitas, atau deskripsi fasilitas ruangan/meja.",
        "operationId": "updateAdminSpace",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 5,
            "description": "ID unik space"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSpaceDto"
              },
              "example": {
                "nama_space": "Personal Desk Alpha 01 (Updated)",
                "harga_per_jam": 30000,
                "kapasitas": 2,
                "deskripsi": "Fasilitas terupdate dengan monitor 27 inch 4K dan standing desk elektrik."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space berhasil diperbarui",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Data space berhasil diperbarui!",
                  "data": {
                    "id": 5,
                    "nama_space": "Personal Desk Alpha 01 (Updated)",
                    "harga_per_jam": 30000,
                    "tipe": "desk",
                    "kapasitas": 2,
                    "deskripsi": "Fasilitas terupdate dengan monitor 27 inch 4K dan standing desk elektrik."
                  },
                  "timestamp": "2026-08-27T08:37:50.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin - Spaces"
        ],
        "summary": "Hapus Data Ruangan / Meja (Space)",
        "description": "Menghapus ruangan atau meja dari daftar coworking space.",
        "operationId": "deleteAdminSpace",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 5,
            "description": "ID unik space"
          }
        ],
        "responses": {
          "200": {
            "description": "Space berhasil dihapus",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Space berhasil dihapus!",
                  "data": {
                    "id": 5,
                    "deleted": true
                  },
                  "timestamp": "2026-08-27T08:37:55.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/diskon": {
      "get": {
        "tags": [
          "Admin - Diskon"
        ],
        "summary": "Daftar Semua Kode Promo / Diskon Event",
        "description": "Menampilkan seluruh kode promo/diskon event (aktif maupun kedaluwarsa).",
        "operationId": "getAdminDiskon",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar diskon berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 1,
                      "nama_diskon": "DISKONHEMAT20",
                      "persentase_diskon": 20,
                      "tanggal_awal": "2026-01-01T00:00:00.000Z",
                      "tanggal_akhir": "2026-12-31T23:59:59.000Z"
                    },
                    {
                      "id": 2,
                      "nama_diskon": "UKKPROMO50",
                      "persentase_diskon": 50,
                      "tanggal_awal": "2026-08-01T00:00:00.000Z",
                      "tanggal_akhir": "2026-09-30T23:59:59.000Z"
                    }
                  ],
                  "timestamp": "2026-08-27T08:38:05.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      },
      "post": {
        "tags": [
          "Admin - Diskon"
        ],
        "summary": "Tambah Kode Promo / Diskon Event Baru",
        "description": "Menambahkan event promo diskon baru dengan persentase dan rentang tanggal berlakunya.",
        "operationId": "createAdminDiskon",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiskonDto"
              },
              "example": {
                "nama_diskon": "PROMOAGUSTUS",
                "persentase_diskon": 20,
                "tanggal_awal": "2026-08-01T00:00:00Z",
                "tanggal_akhir": "2026-08-31T23:59:59Z"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Kode promo baru berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 201,
                  "message": "Kode promo baru berhasil dibuat!",
                  "data": {
                    "id": 4,
                    "nama_diskon": "PROMOAGUSTUS",
                    "persentase_diskon": 20,
                    "tanggal_awal": "2026-08-01T00:00:00.000Z",
                    "tanggal_akhir": "2026-08-31T23:59:59.000Z"
                  },
                  "timestamp": "2026-08-27T08:38:10.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/admin/diskon/{id}": {
      "get": {
        "tags": [
          "Admin - Diskon"
        ],
        "summary": "Detail Data Diskon Berdasarkan ID",
        "description": "Mengambil rincian satu kode promo untuk keperluan edit oleh Admin.",
        "operationId": "getAdminDiskonDetail",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4,
            "description": "ID unik promo diskon"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail diskon berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "id": 4,
                    "nama_diskon": "PROMOAGUSTUS",
                    "persentase_diskon": 20,
                    "tanggal_awal": "2026-08-01T00:00:00.000Z",
                    "tanggal_akhir": "2026-08-31T23:59:59.000Z"
                  },
                  "timestamp": "2026-08-27T08:38:15.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Admin - Diskon"
        ],
        "summary": "Update Data Kode Promo / Diskon",
        "description": "Memperbarui kode voucher, besaran persentase, atau masa berlaku promo.",
        "operationId": "updateAdminDiskon",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4,
            "description": "ID unik promo diskon"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiskonDto"
              },
              "example": {
                "nama_diskon": "PROMOAGUSTUS2026",
                "persentase_diskon": 25,
                "tanggal_akhir": "2026-09-15T23:59:59Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diskon berhasil diperbarui",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Data promo diskon berhasil diperbarui!",
                  "data": {
                    "id": 4,
                    "nama_diskon": "PROMOAGUSTUS2026",
                    "persentase_diskon": 25,
                    "tanggal_akhir": "2026-09-15T23:59:59.000Z"
                  },
                  "timestamp": "2026-08-27T08:38:20.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin - Diskon"
        ],
        "summary": "Hapus Kode Promo / Diskon",
        "description": "Menghapus kode voucher diskon dari sistem.",
        "operationId": "deleteAdminDiskon",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4,
            "description": "ID unik promo diskon"
          }
        ],
        "responses": {
          "200": {
            "description": "Kode promo berhasil dihapus",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Kode promo berhasil dihapus!",
                  "data": {
                    "id": 4,
                    "deleted": true
                  },
                  "timestamp": "2026-08-27T08:38:25.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/reservasi": {
      "get": {
        "tags": [
          "Admin - Reservasi"
        ],
        "summary": "Lihat Seluruh Data Reservasi Coworking Space (Filter Lengkap)",
        "description": "Menampilkan semua transaksi booking dengan filter bulan, tahun, status, space, atau tanggal.",
        "operationId": "getAdminReservations",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "example": 8,
            "description": "Filter bulan (1-12)"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 2026,
            "description": "Filter tahun"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "belum_dikonfirm",
                "disetujui",
                "aktif",
                "selesai",
                "dibatalkan"
              ]
            },
            "example": "belum_dikonfirm",
            "description": "Filter status pesanan"
          },
          {
            "name": "id_space",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1,
            "description": "Filter ID Space spesifik"
          },
          {
            "name": "tanggal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-08-30",
            "description": "Filter tanggal pemesanan spesifik"
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar reservasi berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": [
                    {
                      "id": 12,
                      "kode_booking": "BOOK-20260830-0012",
                      "tanggal_reservasi": "2026-08-30",
                      "jam_mulai": "09:00",
                      "jam_selesai": "12:00",
                      "durasi_jam": 3,
                      "total_harga_awal": 60000,
                      "potongan_diskon": 12000,
                      "total_bayar": 48000,
                      "status": "belum_dikonfirm",
                      "member": {
                        "id": 6,
                        "nama_member": "John Doe",
                        "telp": "081234567890"
                      },
                      "space": {
                        "id": 1,
                        "nama_space": "Personal Desk - Flexi 01",
                        "tipe": "desk"
                      }
                    }
                  ],
                  "timestamp": "2026-08-27T08:38:35.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/admin/reservasi/{id}/status": {
      "patch": {
        "tags": [
          "Admin - Reservasi"
        ],
        "summary": "Konfirmasi & Ubah Status Pemesanan (Admin)",
        "description": "Mengubah status reservasi (contoh: dari `belum_dikonfirm` menjadi `disetujui` atau `dibatalkan`).",
        "operationId": "updateReservationStatusAdmin",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12,
            "description": "ID unik reservasi"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReservasiStatusDto"
              },
              "example": {
                "status": "disetujui"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status reservasi berhasil diubah",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Status reservasi berhasil diperbarui menjadi disetujui",
                  "data": {
                    "id": 12,
                    "status": "disetujui",
                    "updated_at": "2026-08-27T08:38:40.000Z"
                  },
                  "timestamp": "2026-08-27T08:38:40.050Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/reservasi/{id}/check-in": {
      "post": {
        "tags": [
          "Admin - Reservasi"
        ],
        "summary": "Check-In Pelanggan (Ubah Status ke Aktif / Digunakan)",
        "description": "Memproses kehadiran member di lokasi coworking space saat jadwal tiba. Status reservasi berubah menjadi `aktif`.",
        "operationId": "checkInReservationAdmin",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12,
            "description": "ID unik reservasi"
          }
        ],
        "responses": {
          "200": {
            "description": "Check-in member berhasil! Status reservasi aktif.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Check-in member berhasil! Status reservasi aktif.",
                  "data": {
                    "id": 12,
                    "status": "aktif",
                    "check_in_time": "2026-08-30T09:02:15.000Z"
                  },
                  "timestamp": "2026-08-27T08:38:45.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/reservasi/{id}/check-out": {
      "post": {
        "tags": [
          "Admin - Reservasi"
        ],
        "summary": "Check-Out Pelanggan (Ubah Status ke Selesai)",
        "description": "Memproses selesainya penggunaan space oleh tamu. Status reservasi berubah menjadi `selesai`.",
        "operationId": "checkOutReservationAdmin",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12,
            "description": "ID unik reservasi"
          }
        ],
        "responses": {
          "200": {
            "description": "Check-out member berhasil! Reservasi telah selesai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Check-out member berhasil! Reservasi telah selesai.",
                  "data": {
                    "id": 12,
                    "status": "selesai",
                    "check_out_time": "2026-08-30T12:00:00.000Z"
                  },
                  "timestamp": "2026-08-27T08:38:50.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/api/admin/reports/monthly": {
      "get": {
        "tags": [
          "Admin - Reports"
        ],
        "summary": "Rekapitulasi Estimasi & Realisasi Pendapatan Per Bulan",
        "description": "Laporan komprehensif pendapatan bulanan, total jam terpakai, potongan diskon, dan distribusi pendapatan per tipe space.",
        "operationId": "getMonthlyReportAdmin",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "example": 8,
            "description": "Filter bulan (1-12)"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 2026,
            "description": "Filter tahun"
          }
        ],
        "responses": {
          "200": {
            "description": "Laporan pendapatan bulanan berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "month": 8,
                    "year": 2026,
                    "total_transaksi": 15,
                    "total_jam_terpakai": 48,
                    "estimasi_pendapatan_kotor": 1850000,
                    "total_potongan_diskon": 250000,
                    "realisasi_pendapatan_bersih": 1600000,
                    "rincian_per_tipe_space": [
                      {
                        "tipe": "desk",
                        "label": "Personal Desk",
                        "total_booking": 10,
                        "total_jam": 30,
                        "total_pendapatan": 600000
                      },
                      {
                        "tipe": "meeting_room",
                        "label": "Meeting Room",
                        "total_booking": 3,
                        "total_jam": 8,
                        "total_pendapatan": 750000
                      },
                      {
                        "tipe": "private_office",
                        "label": "Private Office",
                        "total_booking": 2,
                        "total_jam": 10,
                        "total_pendapatan": 250000
                      }
                    ]
                  },
                  "timestamp": "2026-08-27T08:39:00.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/api/admin/reports/income": {
      "get": {
        "tags": [
          "Admin - Reports"
        ],
        "summary": "Alias Endpoint untuk Rekapitulasi Pendapatan Bulanan",
        "description": "Endpoint ringkas untuk mengambil realisasi pendapatan bersih pada bulan dan tahun tertentu.",
        "operationId": "getIncomeReportAdmin",
        "security": [
          {
            "MakerKey": [],
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            },
            "example": 8,
            "description": "Filter bulan (1-12)"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 2026,
            "description": "Filter tahun"
          }
        ],
        "responses": {
          "200": {
            "description": "Ringkasan pendapatan berhasil dimuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSuccessResponse"
                },
                "example": {
                  "status": true,
                  "statusCode": 200,
                  "message": "Berhasil memproses permintaan",
                  "data": {
                    "month": 8,
                    "year": 2026,
                    "realisasi_pendapatan_bersih": 1600000
                  },
                  "timestamp": "2026-08-27T08:39:05.000Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
[...]
